<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.tools.media.mycookbook" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MyCookBook"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="MyCookBook"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activityProfile" >
        </activity>
        <activity android:name=".activityForgotPassword" >
        </activity>
        <activity
            android:name=".activityVisuRecipe"
            android:label="Mes recettes" >
        </activity>
        <activity
            android:name=".activityProfileTest"
            android:label="@string/title_activity_activity_profile_test"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activityEdit"
            android:label="edition des recettes">
        </activity>
        <activity
        android:name=".activityResearch"
        android:label="recherche">
    </activity>

    </application>

</manifest>
